<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>


    <div class="container">

        <div class="row">
            <div class="col-xs-8">
                <table id="reservationTable" class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            <th>Broj rezervacije</th>
                            <th>Knjiga</th>
                            <th>Član</th>
                            <th>Vrijeme rezervacije</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>

            </div>

        </div>

        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="selectReservationByStatus">
            <label class="btn btn-secondary active" id="allReservations">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Sve
            </label>
            <label class="btn btn-secondary" id="accepted">
                <input type="radio" name="options" autocomplete="off"> Prihvaćene
            </label>
            <label class="btn btn-secondary" id="rejected">
                <input type="radio" name="options" id="option3" autocomplete="off"> Odbijene
            </label>
            <label class="btn btn-secondary" id="pending">
                <input type="radio" name="options" id="option3" autocomplete="off"> Čeka obradu
            </label>
        </div>

    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/employeeReservation")



</body>
</html>
