<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h2>Add reservation</h2>

    <form id="reservationForm">
        
        <div id="dynamicInputDiv">

        </div>



        <label for="MemberId">Member id:</label><br>
        <input type="text" id="MemberId" name="MemberId"> <br />
        <input type="submit" value="Submit">
    </form>

</div>



</body>


</html>
