<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div>
        <h2>Rezervacije</h2>

    </div>

    <div>

        <form id="reservationForm">

            <div id="dynamicInputDiv" class="form-group">

            </div>



            <label for="MembershipCardNumber">Broj članske iskaznice:</label><br>
            <input type="text" id="MembershipCardNumber" name="MembershipCardNumber" class="form-control"> <br />
            <input type="submit" value="Pošalji" class="btn btn-primary">
        </form>

    </div>

    <br />
    <p>
        Za testiranje: <br /><br />
        Ime: Member1<br />
        Broj članske iskaznice: 1<br />
        <br />
        Ime: Member2<br />
        Broj članske iskaznice: 2

    </p>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/reservation")

</body>
</html>
