<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h2>Rezervacije</h2>

    <form id="reservationForm">
        
        <div id="dynamicInputDiv" class="form-group">

        </div>



        <label for="MemberId">Broj članske iskaznice:</label><br>
        <input type="text" id="MemberId" name="MemberId" class="form-control"> <br />
        <input type="submit" value="Pošalji" class="btn btn-primary">
    </form>

</div>



</body>


</html>
