

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Status</title>
</head>
<body>
    <h2>Unesi broj članske iskaznice i provjeri status svojih rezervacija</h2>
    <div>
        <form id="statusForm">

            <label for="MembershipCardNumber">Broj članske iskaznice:</label><br>
            <input type="text" id="MembershipCardNumber" name="MembershipCardNumber" class="form-control"> <br />
            <input type="submit" value="Provjeri" class="btn btn-primary">
        </form>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/status")


</body>
</html>
