
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-xs-8">
                <table id="employeeTable" class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th>Mail</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>

            </div>

        </div>

        <a href="/Account/Register" class="btn btn-primary" id="registerLink">Dodaj zaposlenika</a>
        

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/adminEmployee")

</body>
</html>
