body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}


.greenBackground {
    background: #90EE90;
    opacity: 0.6;
}

.row {
    padding-top: 20px;
}

.bookUnavailable {
    background: lightgrey;
    opacity: 0.6;
}


#makeReservation {
    margin-top: 20px;
    margin-left: 50px;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
    width: 30%;
    margin-bottom: 10px;
}


.typeaheadInput {
    width: 100%;
}

#MemberId {
    width: 30%;
}


.notAvailable{
    pointer-events:none;
    background-color:lightgray;
    opacity: 0.6;
}

.notAvailableSpan{
    white-space:pre;
    color:lightslategrey;
    float:right;

}




.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

