@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mx-auto">

                <input type="button"
                       value="Knjige" 
                       class="btn btn-outline-success btn-block"
                       onclick="location.href='@Url.Action("Index", "Book")'"/>

            </div>

        </div>


        <div class="row">
            <div class="col-md-4 mx-auto">
                <input type="button"
                       value="Rezervacije"
                       class="btn btn-outline-success btn-block"
                       onclick="location.href = '@Url.Action("Index", "Reservation")'" />

            </div>

        </div>

    </div>




</body>


</html>