<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>


    <div class="container">

        <div class="row">
            <div class="col-xs-8">
                <table id="booksTable" class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            <th>Knjiga</th>
                            <th>Autor</th>
                            <th>Raspoloživo</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>

            </div>
          

        </div>

    </div>


    @Html.ActionLink("Dodaj knjigu", "New", "Book", null, new { @class = "btn btn-primary" })

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/employeeBook")



</body>
</html>
