<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <h2>Knjige</h2>



    <table id="booksTable" class="table table--bordered table--hover">

        <thead>
            <tr>
                <th>Book</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        

        </tbody>

    </table> 
    
<h2>Lista rezervacija: </h2>

<div id="bookList">
    


    <button class="btn btn-primary" id="makeReservation">Rezerviraj</button>
</div>




</body>
</html>
